.CardDetails {
	border: 1px solid black;
	height: 90%;
	width: 100%;
	padding: 4px;
	margin: 10px;
	background-color: white;
	text-align: center;
	overflow: auto;
	max-width: 960px;
	border-radius: 22px;
	box-sizing: border-box;
	box-shadow: 1px 1px 1px 0px black;
	font-family: "Maiandra GD", 'Nunito', "Roboto", sans-serif;
}

.textContainer {
	color: #2d3436;
	padding: 8px;
	text-align: center;
}
.subjectTitle {
  color: #2d3436;
	font-weight: 600;
	margin-bottom: 10px;
}
.textDescription {
	text-align: left;
}