/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

.mdx-parent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-top: 10px;
  margin-bottom: 20px;
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
}

.mdx-card-wrapper {
  min-height: calc(100vh - 185px);
  height: 90%;
  width: 100%;
  padding: 2rem 3rem;
  margin: 20px 10px;
  background-color: white;
  overflow: auto;
  max-width: 960px;
  border-radius: 6px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: 1px 1px 1px 0px black;
  box-shadow: 1px 1px 1px 0px black;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  font-family: "Maiandra GD", "Nunito", "Roboto", sans-serif;
}

.mdx-card-wrapper:hover {
  -webkit-box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.back-link-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 1.2em;
  margin-bottom: 2em;
}

.back-link {
  display: inline-block;
  -webkit-transform: translateY(2px) rotate(180deg);
  -ms-transform: translateY(2px) rotate(180deg);
  transform: translateY(2px) rotate(180deg);
  margin-right: 4px;
}

@media screen and (max-width: 600px) {
  .mdx-card-wrapper {
    padding: 1rem;
  }
  .mdx-image {
    width: 90%;
  }
}
