.aboutMePara1 {
  text-align: justify;
  font-size: 18px;
  margin: 28px 0px 18px 0px;
  padding: auto;
  padding-left: 4px;
  padding-right: 4px;
}

.readMore {
  color: rgb(0 112 239);
  text-decoration: underline;
  cursor: pointer;
  margin-left: 0.5em;
}
