/*the main header container*/
#headerMainDiv {
  height: 54px;
  width: 100%;
  background-color: rgb(29, 28, 28);
  display: grid;
  grid-template-columns: 64px 280px 1fr;
  grid-template-rows: 1;
  justify-content: center;
  align-items: center;
  text-align: center;
  white-space: nowrap;
  position: fixed;
  z-index: 4;
  top: 0;
}
/*the first column of the header that contains dummy logo*/
#col1 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
/*the second column of the header that contains title*/
#col2 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
/*the third column of the header that contains dummy buttons/links*/
#col3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  justify-content: center;
  align-content: center;
  height: 100%;
}
/*the title button in the 2nd column of the grid*/
#titleBtn {
  color: rgb(250, 200, 74);
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 34px;
  padding: 0px;
  cursor: pointer;
  text-decoration: none;
}
/*refers to all buttons in #col3*/
.col3Btns {
  background-color: transparent;
  border: none;
  outline: none;
  box-shadow: none;
  padding: 0px;
  color: white;
  font-size: 16px;
  cursor: pointer;
  text-decoration: none;
  /* margin-left: 10px; */
  /* margin-right: 10px; */
}
.col3Btns:hover {
  color: gold;
}
.col3Btns:focus {
  color: gold;
  outline: none;
}

/*refers to all buttons in #col3*/
.col3MenuBtns {
  white-space: nowrap;
  box-shadow: none;
  cursor: pointer;
  text-decoration: none;
  font-size: 28px;
  background-color: transparent;
  border: none;
  outline: none;
  padding: 0px;
  color: white;
  margin: 10px 10px;
  overflow: hidden;
  display: block;
  transition: 0.3s;
  /* margin-left: 10px; */
  /* margin-right: 10px; */
}
.col3MenuBtns:hover {
  color: gold;
}
.col3MenuBtns:focus {
  color: gold;
  outline: none;
}
/*use this to zoom in on items upon hovering
use with transform property below*/
.grow {
  transition: all 0.2s ease-in-out; /*use along with transform property below*/
}
/*zooms in on the button/links upon hovering*/
.grow:hover {
  transform: scale(1.1);
}
#menu {
  display: none;
}
/*add changes for smaller screens below*/
@media screen and (max-width: 1200px) {
  /*change grid to center title and accept menu, which includes hamburger*/
  #headerMainDiv {
    grid-template-columns: 64px 1fr 64px;
  }
  /*hide column three*/
  .col3Btns {
    display: none;
  }
  #col3 {
    grid-template-columns: 1fr;
  }
  /*show the hamburger*/
  #menu {
    display: flex;
    justify-content: center;
  }
}
/*add changes for screen less than 400px below*/
@media screen and (max-width: 400px) {
  /*adapt grid to remove logo*/
  #headerMainDiv {
    grid-template-columns: 64px 1fr 64px;
  }
  /*remove logo*/
  /* #col1 {
    display: none; 
  } */
  #titleBtn {
    font-size: 28px;
  }
}

/*add changes for screen less than 340px below*/
@media screen and (max-width: 340px) {
  /*adapt grid to remove logo*/
  #headerMainDiv {
    grid-template-columns: 1fr 64px;
  }
  /*remove logo*/
  #col1 {
    display: none;
  }
  #titleBtn {
    font-size: 28px;
  }
}
