.creditsSubtitle {
	margin: 20px 0px 10px 0px;
	padding-bottom: 2%;
	transition: all 0.2s ease-in-out;
}
.creditsPillParent {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	width: auto;
	padding-bottom: 2%;
	padding-top: 5%;
	margin-top: 2%;
	margin-bottom: 2%;
	border-top: 1px solid black;
}
.creditsPill {
	font-size: 18px;
	font-weight: 500;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	margin: 4px;
	padding: 4px 10px;
	height: auto;
	overflow-wrap: break-word;
	background-color: rgb(228, 228, 228);
	word-break: break-all;
}
.creditsPill2 {
	width: 100%;
	margin: 0;
	word-break: break-all;
}
@media screen and (max-width: 500px) {
	.creditsSubtitle {
			text-align: justify;
	}
}