.teacherSubtitle {
  margin: 20px 0px 10px 30px;
  font-weight: 500;
  text-align: left;
}
.teacherSubtitle::before {
  content: "➖";
  margin-right: 10px;
}
.teacherSubtitle:nth-of-type(1)::before {
  content: "👨🏽‍🏫";
  margin-right: 10px;
}
.teacherSubtitle:nth-of-type(5)::before {
  content: "";
  margin-right: unset;
}

.teacherPillParent {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: auto;
  padding: 20px;
  padding-bottom: 2%;
  padding-top: 3%;
  margin-top: 2%;
  margin-bottom: 2%;
  border-top: 1px solid black;
}
.teacherPill {
  font-size: 16px;
  display: inline-flex;
  align-items: center;
  justify-content: flex-start;
  margin: 4px;
  padding: 4px 10px;
  height: auto;
  overflow-wrap: break-word;
  width: 100%;
  text-align: left;
}

.teacherPillParent:nth-of-type(1) .teacherPill::before {
  content: "-";
  margin-right: 10px;
}

.teacherPillParent:nth-of-type(2) .teacherPill::before {
  content: "👉";
  margin-right: 10px;
}

@media screen and (max-width: 750px) {
  .teacherSubtitle {
    margin: 20px 0px 10px 10px;
  }
  .teacherPillParent {
    padding-left: 0;
  }
  .teacherPill {
    padding-left: 0;
  }
}
