.myBestProjectImageContainerWrapper {
  display: block;
  max-width: 960px;
  margin: 0px auto;
  margin-bottom: 20px;
  max-height: 80%;
  overflow: hidden;
}

.myBestProjectImageContainer {
  position: relative;
  overflow: hidden;
  display: flex;
  background: rgb(29, 28, 28);
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 10px;
  max-width: 960px;
  text-align: center;
  margin: 10px 10px 0px 10px;
  box-shadow: 2px 2px solid black;
  min-height: 100%;
  padding-bottom: 15px;
}

.myBestProjectSpan {
  color: #ffeaa7;
  text-align: center;
  display: block;
  font-size: 1.5em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: 700; /* same as bold */
}

.myBestProjectLink {
  text-decoration: none;
  color: #f75d89;
}

.myBestProjectLink:hover {
  text-decoration: underline;
}

.myBestProjectDivWithH2s {
  margin: 0px;
  padding: 0px;
  cursor: pointer;
  display: inline-flex;
}

.myBestProjectDivWithH2s > h2:nth-child(1) {
  color: #7ec400; 
}
.myBestProjectDivWithH2s > h2:nth-child(2) {
  color: #8b55f8;
}
.myBestProjectDivWithH2s > h2:nth-child(3) {
  color: #f75d89;
}
.myBestProjectDivWithH2s > h2:nth-child(4) {
  color: #ff8f47;
}

.myBestProjectDivH2 {
  text-align: center;
  margin: 0px;
  padding-left: 0;
  padding-right: 0;
  display: block;
  font-size: 3rem;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
}

.belowWeAllXLText {
  color: #e0e0e0;
  text-align: center;
  margin: 10px 0px;
  display: block;
  font-size: 1.17em;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: 700; /* same as bold */
}

.my-best-project-slider-text {
  color: lightgray;
  letter-spacing: 0.12rem;
  line-height: 2rem;
  margin-bottom: 3em;
  color: gainsboro;
}

.myBestProject2ndLink {
  color: #007bff;
  text-decoration: none;
}

.myBestProject2ndLink:hover {
  text-decoration: underline;
}

.myBestProjectImgLink > img {
  width: 100%;
  max-width: 600px;
}

.myBestProjectImgLink:hover > img {
  pointer-events: none;
}

.myBestProjectImgLink:hover > img {
  filter: invert(1);
}